<form action="/post/addPostData" method="post">
    <table border="1">
        <tr>
            <td>Post Name :</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Post Content : </td>
            <td><textarea name="content" cols="25" rows="3"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Post"></td>
        </tr>
    </table>
    <a href="/post/viewPostData">View Post</a>
</form>